[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none
